# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# Django
media/
staticfiles/
*.log

# Node
node_modules/
.next/
dist/
build/

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# environments
*/backend/.venv/

