DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
ALLOWED_HOSTS=td-energoeffect.ru,www.td-energoeffect.ru
CORS_ALLOWED_ORIGINS=https://td-energoeffect.ru,https://www.td-energoeffect.ru

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
MANAGER_EMAIL=